@import url(colors.css);

body {
    background: bisque url(EJERCICIO2/wood.jpg);
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
    font-weight: bold;
    font-size: large;
}

table {
    margin-left: 35%;
    border-spacing: 0px;
    width: 30%;
    height: 150px;
    font-size: x-small;
}

th, td {
    text-align: left;
    vertical-align: top;
 }

caption {
    background-color: green;
}

#black1 {
    background-color: black;
}

#teal1 {
    background-color: teal;
}

#blue1 {
    background-color: blue;
}

#navy1 {
    background-color: navy;
}

#lime1 {
    background-color: lime;
}

#white1 {
    background-color: white;
}

#purple1 {
    background-color: purple;
}

#yellow1 {
    background-color: yellow;
}

#olive1 {
    background-color: olive;
}

#red1 {
    background-color: red;
}

#fuchsia1 {
    background-color: fuchsia;
}

#green1 {
    background-color: green;
}

#marron1 {
    background-color: brown;
}

#gray1 {
    background-color: gray;
}

.teal2 {
    color: teal;
}

.blue2 {
    color: blue;
}

.navy2 {
    color: navy;
}

.lime2 {
    color: lime;
}  

.white {
    color: white;
}

.purple2 {
    color: purple;
}

.yellow2 {
    color: yellow;
}

.marron2 {
    color: brown;
}

.gray2 {
    color: gray
}

.fuchsia2 {
    color: fuchsia;
}

.green2 {
    color: green;
}

.aqua2 {
    color: aqua;
}

.silver2 {
    color: silver;
}